<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./static/styles.css">
		<title>Bones University</title>
	</head>
	<body>
		<div id="page-container">
			<header>
				<h1>Bones University</h1>
				<button>Enroll</button>
				<button>Log in</button>
			</header>

		<main>
			{{block "body" .}} {{ end }}
		</main>

			<footer>
				<p>&copy; 2025 Bones University</p>
			</footer>
		</div>
	</body>
</html>
